<!DOCTYPE html>
<html>
    <%- include head %>
<body>
    <div class="login container auto text-center">
     
      <div>
      <img class="img" src="/images/Logo3.png">
      </div>
 
    

    <%- include loginForm %>
</div>
</body>
 </html>
