<nav class="topbar fixed-top">
  
  <ul class="topbar-nav">

    <li class="top-item">
      <a class="nav-item" href="https://wa.me/5491125491150"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
    </li>
    
    <li class="top-item">
      <a class="nav-item" href="https://www.facebook.com/chizzini.abogados"><i class="fab fa-facebook-square"
          aria-hidden="true"></i></a>
    </li>

    <li class="top-item">
      <a class="nav-item" href="https://www.instagram.com/estudio.juridico.chizzini/?hl=es"><i class="fab fa-instagram"
          aria-hidden="true"></i></a>
    </li>

    <li class="top-item">
      <a class="nav-item" href="https://www.twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </li>

  </ul>


    

  
  

<script> var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("topbar").style.top = "0";
      } else {
        document.getElementById("topbar").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }</script>
</nav>

